body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #70c5ce;
  }
  
  canvas {
    display: block;
    background: url('./images/fondo.png.avif') no-repeat center center;
    background-size: cover;
    border: 2px solid #000;
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  